<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video List</title>
    <link type="text/css" rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="list">
            <div class="list-item">
                <span id="file-status" class="list-item-status"></span>
                <h4 id="file-name"></h4>
                <a id="watch-button" href="http://localhost:8080/watch?v=">
                    <div class="list-item-watch">Watch</div>
                </a>
            </div>
            <div class="list-item"></div>
            <div class="list-item"></div>
            <div class="list-item"></div>
        </div>
    </div>
</body>
</html>