@import url('https://fonts.googleapis.com/css?family=Monoton');

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
  color: rgb(194, 194, 194);
  font-weight: normal;
  font-family: 'Monoton', cursive;
  letter-spacing: 2px;
}

/* button {
  background-color: #172C64;
  width: 150px;
  height: 50px;
  color: #000;
  font-size: 120%;
} */

div#formgroup {
  background-color: #232b33;
  padding: 0.2rem;
  border-radius: 3px;
  color: white;
}

div#main {
  color: white;
  width: 40rem;
  box-shadow: #242534 0px 0px 6px;
  border-radius: 2px;
  margin-top: 1.4rem;
}

#titlebar {
  background-color: #1a1b25;
  width: 100%;
  padding: 0.4rem 0.5rem;
  border-radius: 2px 2px 0px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

#titlebar .buttons {
  display: inline-block;
  align-self: right;
}

#titlebar .buttons span {
  margin-left: 6px;
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
}

#titlebar .buttons span.red {
  background-color: #ff5555;
}

#titlebar .buttons span.green {
  background-color: #50fa7b;
}

#titlebar .buttons span.yellow {
  background-color: #f1fa8c;
}

#console {
  background-color: #242534;
  display: block;
  width: 100%;
  height: 30vh;
  padding: 0.4rem;
  border-radius: 0px 0px 2px 2px;
  box-sizing: border-box;
  overflow-y: scroll;
  transition: 500ms;
}

#console span.user {
  color: #8AE234;
  font-weight: bold;
}

#console span.home {
  color: #729FCF;
  font-weight: bold;
}

code span.error {
  color: #EF2929;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;    
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #4f5d75;
}

body,
.upload-form-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-form {
  box-sizing: border-box; 
  /* max-height: 15vh; */
  font-family: inherit;
  background-color: #7c99b4;
  border-radius: 2px;
  padding: 0.4rem;
  box-shadow: #24253444 0px 0px 6px;
  /* transition: 1s; */
  overflow: visible;
}

/* .upload-form.uploaded {
  max-height: 20vh;
} */

.upload-form-input {
  display: none;
}

.upload-form-label {
  padding: 0.65rem;
  color: #172C64;
  transition: transform .4s;
  flex-direction: column;
  background-color: #8eb8e5;
  border-radius: 2px;
  box-shadow: #24253444 0px 0px 6px;
  transition: 800ms;
  overflow: hidden;
  user-select: none;
}

.upload-form-label.uploaded {
  background-color: #232b33;
  color: #8eb8e5;
}

.upload-form-label:not(.uploaded):hover {
  cursor: pointer;
  transform: scale(1.01);
  color: #8eb8e5;
  background-color: #172C64;
}

.upload-form-icon {
  font-size: 1.8em;
}

.transcode-form {
  display: none;
  padding: 0.25rem;
}

.transcode-form.uploaded {
  display: block;
}

#form-group-add {
  max-height: 20vh;
  overflow-y: scroll;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0rem;
}

/* Slide button */

.toggle {
  background-color: #7c99b4;
  height: 2.2rem;
  margin-bottom: 5px;
  border-radius: 3px;
}

.toggle h4 {
  display: inline-block;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  margin-left: 0.2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8eb8e5;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #172C64;
}

input:focus + .slider {
  box-shadow: 0 0 1px #172C64;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  box-shadow: #24253444 0px 0px 6px;
}

.slider.round:before {
  border-radius: 50%;
}