<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Watch</title>
    <link type="text/css" rel="stylesheet" href="styles.css">
    <script src="shaka-player/shaka-player.compiled.js"></script>
    <script src="watch.js"></script>
</head>
<body>
    <video id="video"
            width="640"
            controls autoplay>
    </video>
</body>
</html>